body {
  background-color: #1A1A1A;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-weight: 300;
}

h1 {
  font-size: 24px;
  line-height: 125%;
}

h2 {
  font-size: 20px;
  line-height: 125%;
}

p {
  font-size: 16px;
  line-height: 150%;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }
}