* {
  margin: 0;
}

body {
  background-color: #000000;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-weight: 300;
  padding: 64px 16px;
  display: grid; 
  row-gap: 64px;
}

@media screen and (min-width: 640px) {
  body {
    padding: 64px 32px;
  }
}

h1 {
  font-size: 24px;
  line-height: 125%;
  font-weight: 300;
}

h2 {
  font-size: 20px;
  line-height: 125%;
  font-weight: 300;
}

p {
  font-size: 16px;
  line-height: 150%;
}

a {
  color: #FFFFFF;
}

img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }
}

header {
  text-align: center;
}

header p {
  margin-bottom: 16px;
}

.albums {
  display: grid;
  row-gap: 64px;
}

.album {
  text-decoration: none;
}

.album img {
  margin-bottom: 24px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media screen and (min-width: 640px) {
  .album img {
    aspect-ratio: 2 / 1;
  }
}

.album h2 {
  margin-bottom: 8px
}

.album p {
  text-decoration: underline;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 32px;
  row-gap: 64px;
}

.photo img {
  margin-bottom: 16px;
}

.photo.full {
  grid-column: 1 / -1;
}

.photo.column {
  grid-column: 1 / -1;
}

@media screen and (min-width: 640px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo.column {
    grid-column: span 1;
  }
}